{% extends "base.html" %}

{% block base %}
<header>
    <!-- Intro settings -->
    <style>
      /* Default height for small devices */
      #intro-example {
        height: 400px;
      }
  
      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-example {
          height: 600px;
        }
      }
    </style>
  
  
    <!-- Background image -->
    <div id="intro-example" class="p-5 text-center bg-image"
      style="background-image: url('../../static/img/fondo_ivi.jpg');background-size:cover;background-position:center;">
      <div class="mask" style="background-color: rgba(99, 197, 189, 0.87);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Hommy</h1>
            <h5 class="mb-6">
              Tu casa inteligente
            </h5>
            <a class="btn btn-outline-light btn-lg m-2" href="{% url 'about' %}"
              role="button" rel="nofollow" target="_blank">Contacto</a>
            <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/"
              target="_blank" role="button">+ info</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>
  <div class="d-flex justify-content-between m-5 gap-3">
  </div>
  <div class="container text-center">
    
    <p class="">vivi la experiencia Hommy</p>
    <p class="">HOMMY es la mejor solución para monitorear, administrar y automatizar tu casa con tecnología inalámbrica. Los módulos y sensores que lo conforman le permiten a tu casa, oficina o comercio adaptarse y responder a los cambios en el ambiente, maximizar el confort y seguridad, y optimizar el consumo energético.
    </p>
    </div>
    <div class="d-flex justify-content-between m-5 gap-3">

      
    {% include "components/cards.html" %}
    

  </div>
  <div class="container">
  </div>
   
    <img src="../../static/img/wifi-signal.png"class= "float-rigth img-fluid" width="30px">


  </div>
</div>
<div class="container text-center">
  <h2 class="my-3 letra_nunito">Nosotros</h2>
  <p class="">Pensamos casas inteligentes. Acercamos a los hogares la experiencia obtenida a lo largo de quince años, tanto a nivel nacional como internacional, en el área de sistemas y automatismos. Ofrecemos soluciones acordes a cada tipo de necesidad. Somos profesionales y comprometidos con nuestra tarea. Valoramos la calidez en el buen trato. </p>
  </div>


{% endblock  %}