{% extends "base.html" %}

{% block base %}
<header>
  <!-- Intro settings -->
  <style>
    /* Default height for small devices */
    #intro-example {
      height: 400px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 600px;
      }
    }
  </style>


  <!-- Background image -->
  <div id="intro-example" class="p-5 text-center bg-image"
    style="background-image: url('../../static/img/fondo_ivi.jpg');background-size:cover;background-position:center;">
    <div class="mask" style="background-color: rgba(99, 197, 189, 0.87);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Hommy</h1>
          <h5 class="mb-6">
            Tu casa inteligente
          </h5>
          <a class="btn btn-outline-light btn-lg m-2" href="{% url 'about' %}" role="button" rel="nofollow"
            target="_blank">Contacto</a>
          <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank"
            role="button">+ info</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->

    
</header>
<div class="d-flex justify-content-between m-5 gap-3">
</div>
<div class="container text-center">
  
  <p  class="display-3">Viví la experiencia Hommy</p>
  <p class="">HOMMY es la mejor solución para monitorear, administrar y automatizar tu casa con tecnología inalámbrica.
    Los módulos y sensores que lo conforman le permiten a tu casa, oficina o comercio adaptarse y responder a los
    cambios en el ambiente, maximizar el confort y seguridad, y optimizar el consumo energético.
  </p>
</div>
<div class="d-flex justify-content-between m-5 gap-3">


  {% include "components/cards.html" %}


</div>
<div class="container d-flex justify-content-center">
  <img src="../../static/img/wifi-signal.png" class="m-auto img-fluid" width="30px">
</div>

<div class="line-mf"></div>
<section id="services" class="services-mf pt-5 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Características
          </h3>
          <p class="subtitle-a">
            de nuestro sistema
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-content d-flex flex-column justify-content-center align-items-center">
            <img src="../../static/img/wifi (3).png" class="m-auto img-fluid" width="30px">
          </div>
          <div class="service-content">
            <h2 class="s-title">Inalámbrico</h2>
            <p class="s-description text-center">
              Sin Cables, sin romper paredes. HOMMY es inalámbrico, moderno y seguro. El protocolo Z-Wave, permite agregar o cambiar dispositivos de manera completamente no invasiva.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-content d-flex flex-column justify-content-center align-items-center">
            <img src="../../static/img/3d.png" class="m-auto img-fluid" width="30px">
          </div>
          <div class="service-content">
            <h2 class="s-title">Modular</h2>
            <p class="s-description text-center">
              HOMMY es la solución perfecta que se adapta a distintas posibilidades. Permitiendo crecer a futuro, modificar, o rediseñar tu casa.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-content d-flex flex-column justify-content-center align-items-center">
            <img src="../../static/img/cell-phone.png" class="m-auto img-fluid" width="30px">
          </div>
          <div class="service-content">
            <h2 class="s-title">Remoto</h2>
            <p class="s-description text-center">
              Gracias a la aplicación móvil podés estár en contacto constante con tu casa, controlándola y gestionándola desde cualquier lugar del mundo.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-content d-flex flex-column justify-content-center align-items-center">
            <img src="../../static/img/modular (1).png" class="m-auto img-fluid" width="30px">
          </div>
          <div class="service-content">
            <h2 class="s-title">Complementario</h2>
            <p class="s-description text-center">
              HOMMY es compatible con cientos de fabricantes de nivel mundial. Un ecosistema en el cual se integran fácilmente dispositivos de otros fabricantes y de distintas tecnologías.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-content d-flex flex-column justify-content-center align-items-center">
            <img src="../../static/img/light-bulb.png" class="m-auto img-fluid" width="30px">
          
          </div>
          <div class="service-content">

            <h2 class="s-title">Compatible</h2>
            <p class="s-description text-center">
              HOMMY es compatible con instalaciones eléctricas, teclas y artefactos de luz convencionales. Un sistema que se adapta a tu casa.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          
          <div class="service-content d-flex flex-column justify-content-center align-items-center">
            <img src="../../static/img/lock.png" class="m-auto img-fluid" width="30px">
            <h2 class="s-title text-center">Seguro</h2>
            <p class="s-description text-center">
              Tus datos y el acceso a tu casa estarán protegidos con la misma tecnología que se utiliza para proteger el acceso a tu cuenta bancaria.
            </p>
          </div>
          </div>
</div>
<div class="container text-center">
  <h2 class="my-3 letra_nunito">Nosotros</h2>
  <p class="">Pensamos casas inteligentes. Acercamos a los hogares la experiencia obtenida a lo largo de quince años,
    tanto a nivel nacional como internacional, en el área de sistemas y automatismos. Ofrecemos soluciones acordes a
    cada tipo de necesidad. Somos profesionales y comprometidos con nuestra tarea.
  </p>
</div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Services Section -->

{% endblock %}