
<div class="card" style="width: 18rem;">
  <img src="../../static/img/cards2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Seguridad:</h5>
    <p class="card-text">Sistemas de detección de intrusos, control de accesos, cámaras de seguridad y monitoreo, video porteros. 
    </p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../static/img/cards1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Automatismos:</h5>
    <p class="card-text">Control remoto y/o por voz de la iluminación, climatización de los ambientes y electrodomésticos.
      Manejo remoto de aperturas y cortinados. 
      Detección de humo y fuego, con accionamiento automático de sistemas de ventilación.
      </p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../static/img/cards3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Consumo energético: </h5>
    <p class="card-text">Control inteligente de la climatización de los ambientes. Encendido y apagado de luces según la presencia de personas. Intensidad de la luz artificial adaptada a la cantidad de luz natural ambiente. </p>
  </div>
</div>
