
<div class="card" style="width: 18rem;">
  <img src="../../static/img/cards2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">card 1</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">card 2</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../static/img/cards3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">card 3</p>
  </div>
</div>
